<div class="custom-table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% patients.forEach(patient => { %>
                <tr>
                    <td><%= patient.Fname %> <%= patient.Lname %></td>
                    <td style="color: aqua;">
                        <a data-patient-id="<%= patient._id %>" class="view-patient-button"><i class="fa-solid fa-virus-slash fa-beat-fade fa-lg"></i></a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
