<div class="container mt-4">
    <h1 class="mb-3">Medications</h1>
    <!-- Medication Entries -->
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Medication Entry 1</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Medication Name:</strong> Medication 1</li>
                        <li class="list-group-item"><strong>Prescription Date:</strong> April 10, 2022</li>
                        <li class="list-group-item"><strong>Dosage Instructions:</strong> Take one tablet with meals</li>
                        <li class="list-group-item"><strong>Frequency of Administration:</strong> Twice a day</li>
                        <li class="list-group-item"><strong>Medication Expiration Date:</strong> December 31, 2022</li>
                        <li class="list-group-item"><strong>Medication Status:</strong> Active</li>
                        <li class="list-group-item"><strong>Notes (additional information about the medication):</strong> None</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Medication Entry 2</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Medication Name:</strong> Medication 2</li>
                        <li class="list-group-item"><strong>Prescription Date:</strong> September 5, 2021</li>
                        <li class="list-group-item"><strong>Dosage Instructions:</strong> Take as needed</li>
                        <li class="list-group-item"><strong>Frequency of Administration:</strong> As prescribed</li>
                        <li class="list-group-item"><strong>Medication Expiration Date:</strong> December 31, 2023</li>
                        <li class="list-group-item"><strong>Medication Status:</strong> Discontinued</li>
                        <li class="list-group-item"><strong>Notes (additional information about the medication):</strong> Allergic reactions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
