* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* Background color added for better visibility */
}

.container {
    max-width: 650px;
    padding: 28px;
    margin: 0 auto;
    box-shadow: 0 15px 20px #ABB2B9;
    background-color: #fff; /* Added background color */
}

h2 {
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #2f4f4f;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n) {
    justify-content: flex-end;
}

.input-box label, .gender-title {
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
}

.gender-title {
    font-size: 16px;
}

.input-box input {
    height: 40px;
    border: 1px solid #ccc;
    padding: 0 10px;
    width: 95%;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.input-box input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.gender-category {
    color: grey;
}

.gender-category label {
    padding: 0 20px 0 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.gender-category label, .gender-category input {
    cursor: pointer;
}

.alert p {
    font-size: 16px;
    font-style: italic;
    color: dimgray;
    margin: 5px 0;
    padding: 10px;
}

.alert a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.alert a:hover {
    text-decoration: underline;
}

.button-container {
    margin: 15px 0;
    text-align: center; /* Center-align the button */
}

.button-container button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #fa1882, #fff2f4);
    cursor: pointer;
    transition: background 0.3s;
}

.button-container button:hover {
    background: linear-gradient(to right, #f5eced, #fd048df5);
}
